.App {
  text-align: center;
  font-family: bree, sans-serif;
}

.home-container {
  background-color: #1d2228;
  height: 100vh;
}

#home-header {
  background-color: #e1e2e2;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

#home-header h1 {
  padding-top: 25px;
  margin-bottom: -30px;
  color: #fb8122;
  font-size: 34px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.4px;
}

#home-header h2 {
  color: #1d2228;
  font-size: 22px;
  font-weight: 200;
  font-style: normal;
  letter-spacing: 0.2px;
  padding-bottom: 20px;
}

#search-box {
  color: #0f2557;
}

#municipio-card {
  color: white;
  background-color: #e1e2e2;
  letter-spacing: 0.6px;
}

#weather-icon {
  color: #fb8122;
}
#municipio-card h2 {
  color: #fb8122;
  font-size: 22px;
}

#municipio-card p {
  color: #1d2228;
  font-weight: 400;
  font-size: 18px;
}
