.App {
  text-align: center;
  font-family: sofia-pro, sans-serif;
}

#homepage {
  background-color: #0f2557;
}

#home-header {
  background-color: #28559a;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

#home-header h1 {
  color: white;
  font-size: 34px;
  font-family: sofia-pro, sans-serif;
  font-weight: 400;
  padding-top: 25px;

  margin-bottom: -30px;
}

#home-header h2 {
  color: white;
  font-size: 22px;
  font-family: sofia-pro-condensed, sans-serif;
  font-weight: 300;
  padding-bottom: 20px;
}

#search-box {
  color: #0f2557;
}

#municipio-card {
  color: white;
  background-color: #28559a;
}

#weather-icon {
  color: #fdee30;
}
#municipio-card h2 {
  color: #fdee30;
  font-size: 22px;
}

#municipio-card p {
  font-weight: 400;
  font-size: 18px;
}
